<div class="row">
  <div class="col-md-6 list-group">
    <form class="list-group-item ">
      <div class="form-group">
          <div style="padding-right: 15px">
            <img
              alt="{{ tweet.handle }}"
              src="{{ tweet.profilePic }}"
              class="img-responsive"
              style="max-height: 50px;" >
          </div>
          <div style="float: left">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="What's happening?"></textarea>
          </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success">tweet</button>
      </div>
    </form>
  </div>
</div>


