<div class="row edit-tweet">
  <div class="col-md-6 list-group">
    <form class="list-group-item ">
      <div class="form-group">
        <div style="padding-right: 15px; float: left">
          <img
            alt="{{ tweet.handle }}"
            src="{{ tweet.profilePic }}"
            class="img-responsive"
            style="max-height: 50px;" >
        </div>
        <div style="float: left; width: 80%; padding-bottom: 6px">
          <div style="width: 80%">
            <textarea
              class="form-control"
              placeholder="What's happening?"
              [(ngModel)]="tweet.text"
              name="tweetBox"
            ></textarea>
          </div>
        </div>
      </div>
      <div style="float: right">
        <button class="btn btn-primary" (click)="onClickTweetButton()">tweet</button>
      </div>
    </form>
  </div>
</div>


