.user-handle h1, .user-handle p {
  display: inline-block;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.list-group-item {
  padding-bottom: 10px;
}
